.select {
    border: 1px solid black;
    display: inline-block;
    min-height: 20px;
    column-width: 40px;
}

.items {
    position: absolute;
    padding: 5px;
    border: 1px solid black;
}

.items.selected {
    background-color: blue;
    color: white;
}